<!DOCTYPE html>
<html>
<head>
	<title>Task List</title>
	
	
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/flatly/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

	<!-- script -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<style>
		#appRoot{
			background-color: #ECF0F1;
			min-height: 100vh;
			
			.task-list{
				padding-top: 95px;	
			}
		}
		.tasklistPane{
		/*// Stacked Paper Effect
		// Source: https://css-tricks.com/snippets/css/stack-of-paper/*/
		 box-shadow:
		    /* The top layer shadow */
		    0 1px 1px rgba(0,0,0,0.15),
		    /* The second layer */
		    0 10px 0 -5px #eee,
		    /* The second layer shadow */
		    0 10px 1px -4px rgba(0,0,0,0.15),
		     /* The third layer */
		    0 20px 0 -10px #eee,
		    /* The third layer shadow */
		    0 20px 1px -9px rgba(0,0,0,0.15);
		}
	</style>
</head>
<body>
	<div id="appRoot">
		<!-- Start App -->
		<div class="container">
		  <div class="col-md-6 col-md-offset-3">
			  	<h3>{{ title.taskList }}</h3>
			   <ul class="list-group tasklistPane" >
					<li class="list-group-item" v-for="(task,index) in tasks" v-show="task.completed != true">
						<input type="checkbox" :id="'incompleted-task-id-' + index " v-model="task.completed"> <label :for="'incompleted-task-id-' + index ">{{task.description}}</label>
						<div class="btn-group pull-right">
							<button class="btn btn-success btn-xs" @click="editTaskIndex = index"><i class="fa fa-pencil" aria-hidden="true"></i></button>
							<button class="btn btn-danger btn-xs" @click="deleteTask(index)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
						</div>
				   </li>
				   
				   
				   <li class="list-group-item" v-if="editTaskIndex < 0">
				   		<input type="text" class="form-control" placeholder="Type and hit enter" ref="newTask" @keyup.enter="addTask">
				   </li> 
				   
				   <li class="list-group-item" v-if="editTaskIndex > -1">
					   <div class="has-success">
					   		<input type="text" class="form-control" placeholder="Exit and hit enter" v-model="tasks[editTaskIndex].description" @keyup.enter="editTaskIndex = -1 , edited()" @keyup.enter="edited">
					   </div>
				   </li> 



			   </ul>

				<!-- Completed tasks -->
				<div v-if="completeTasks.length > 0">
					<h3>{{ title.completedTasks }}</h3>
				   <ul class="list-group" >
						<li class="list-group-item" v-for="(task,index) in completeTasks">
							<input type="checkbox" :id="'completed-task-id-' + index " v-model="task.completed"> <label :for="'completed-task-id-' + index ">{{task.description}}</label>
							
					   </li>
				   </ul>
				</div>

		  </div><!-- .col-md-6.col-md-offset-3 -->
		</div><!-- .container -->
		<!-- End App -->
		</div><!-- #appRoot -->

	<script src="https://unpkg.com/vue@2.4.3/dist/vue.js"></script>

	<script>
		var app = new Vue({
				el:'#appRoot',
				data:{
					title:{
						taskList: 'Task List',
						completedTasks: 'Completed Tasks'
					},
					tasks: [
						{ description: "Take out trash", completed: false },
						{ description: "Read newspaper", completed: false },
						{ description: "Practice guitar", completed: false },
						{ description: "Do the dishes", completed: false },
						{ description: "Walk the dog", completed: false },
						{ description: "Clean the bathroom", completed: false },
					],
					editTaskIndex: -1
				},
				methods:{
					addTask(){
						this.tasks.push({description: this.$refs.newTask.value , completed: false});
						this.$refs.newTask.value = '';

						toastr.success('New task added to the task list !!!')
						
					},

					deleteTask(index){
						this.tasks.splice(index,1);
						toastr.error('Task deleted');
					},
					edited(){
						toastr.success('Task updated !!!')
					}
				},
				computed: {
					// incompleteTasks: function(){
					// 	return this.tasks.filter( rayhan =>  !rayhan.completed );
					// },
					completeTasks: function(){
						return this.tasks.filter( task =>  task.completed );
					}
				}

			});
	</script>
</body>
</html>